
.head{
    display: flex;
    margin-bottom: 20px;
    
}
.head{
    /*AI helped me write this */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content{
    text-align: right;
    margin: 0;
}




