
.head{
    display: flex;
    margin-bottom: 20px;
    
}
.content{
    /*AI helped me write this */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




