
.mainbody{
    /* AI helped me write this */
    display: flex;
    justify-content: space-between;
}

.leftside{
    width: 60%;
}
 
.rightside{
    width: 35%;
}

.content p{
    margin: 0;
    line-height: 1.1;
}

.rightside{
    margin-top: 50px;
}
p{
     font-size: 15px;
}
li{
    font-size: 15px;
    margin-bottom: 1px;
}

h3{
    margin-bottom: 5px;
}




