
.head{
    /*AI helped me write this */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.content{
     /*AI helped me write this */
    display: flex;
    flex-direction: column;
    text-align: 60px;
}
.content p{
     /*AI helped me write this */
    margin: 20px;
}

.head.title h1{
    /*AI helped me write this */
     margin: 0;
}




