
.mainbody{
    /* AI helped me write this */
    display: flex;
    justify-content: space-between;
}

.leftside{
    width: 63%;
}
 
.rightside{
    width: 32%;
}

.content p{
    margin: 0;
    line-height: 1.1;
}

.rightside{
    margin-top: 50px;
}
p, li{
     font-size: 10.5pt;
}
/* li{
    font-size: 15px;
    margin-bottom: 1px;
} */

h3{
    font-size: 15pt;
    margin-bottom: 5px;
}

ul {
        margin-top: 3pt;
        margin-bottom: 3pt;
        padding-left: 15px; /* Reduce indentation */
    }



