
/*.head{
    /*AI helped me write this */
   /*display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
/*.content{
     /*AI helped me write this */
    /*display: flex;
    flex-direction: column;
}
/*.content p,
.content ul,
.content li{
     /*AI helped me write this */
    /*margin: 0;
    line-height: 1.1;
}

/* .head.title h1{
    /*AI helped me write this */
   /*  margin: 0;
/*}
*/
.mainbody{
    /* AI helped me write this */
    display: flex;
    justify-content: space-between;
}

.leftside{
    width: 60%;
}
 
.rightside{
    width: 35%;
}

.content p{
    margin: 0;
    line-height: 1.1;
}

.rightside{
    margin-top: 40px;
}



