
.mainbody{
    /* AI helped me write this */
    display: flex;
    justify-content: space-between;
}

.leftside{
    width: 63%;
}
 
.rightside{
    width: 32%;
}

.content p{
    margin: 0;
    line-height: 1.1;
}

.rightside{
    margin-top: 50px;
}
p, li{
     font-size: 12.5pt;
}


h3{
    font-size: 10pt;
    margin-bottom: 5px;
}

ul {
     /* AI helped me write this */
        margin-top: 3pt;
        margin-bottom: 3pt;
        padding-left: 15px; 
    }



