body {
background: #F3BFC7;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #4B3D46;
text-align: center;
}
.about {
    color: #4B3D46;
    text-align: center;
    border: 10px #4B3D46;
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



