body {
background: #F3BFC7;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #4B3D46;
    text-align: center;
    font-family: "Lucida Console", monospace;     
    font-size: 36px
}
.about {
    color: #4B3D46;
    text-align: center;
    border-style: dashed;
    border-color: #4B3D46;
    border-width: 9px; 
    max-width: 500px;
    margin-right: auto;
    height: 300px;
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    overflow: auto;
}
.about h2,
.about h4{
    text-align: center;
    width: 100%;
}

.about h2{
    text-decoration: underline solid 5px; 
}

.pageAbout {
    text-align: center;
    text-decoration-style: double;
}
.pageAbout p {
    text-decoration-line: underline;
    text-decoration-style: double;
}

