body {
background: #F3BFC7;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #4B3D46;
    text-align: center;
    font-family: "Lucida Console", monospace;     
    font-size: 36px
}
.about {
    color: #4B3D46;
    text-align: left;
    border-style: dashed;
    border-color: #4B3D46;
    border-width: 9px; 
    max-width: 700px;
    margin: 0 auto 0 0; 
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: left;
}
.pageAbout {
    text-align: center;
    text-decoration-style: double;
}
.pageAbout p {
    text-decoration-line: underline;
    text-decoration-style: double;
}

